%h2 Total data (last 24 hours)

= @daily_stats

= haml :'_stats_table_test', :locals => { :title => "Today", :stats => @daily_stats[0] }

%h2 Breakdown by shift
= @breakdown_by_time

 
- @breakdown_by_time.each do |b| 
  = haml :'_stats_table_test', :locals => { :title => b["start_time"], :stats => b }


%h4
  Questions:
%li
  Do we want to be able to look over a week?

%h3 Outstanding alerts:

%h4 The following alerts currently have not been acknowledged:

%h4 The following alerts have been acknowledged, but not resolved:
