%h2 Total data (last 24 hours)

= haml :'_stats_table', :locals => { :stats => @daily_stats }

%h2 Breakdown by shift
 
- @breakdown_by_time.each do |b|
  = haml :'_stats_table', :locals => { :stats => b }

%h4
  Questions:
%li
  Do we want to be able to look over a week?

%h3 Outstanding alerts:

%h4 The following alerts currently have not been acknowledged:

%h4 The following alerts have been acknowledged, but not resolved:
