%div{:class => "today"}

  %h3 Aggregated statistics
  - @stat_summary[0..2].each do |b|
    = haml :'_stats_table', :locals => { :stats => b}

- if @stat_summary.length > 3
  %div{:class => "shifts"}
    %h3 Breakdown by shift
    - @stat_summary[3..-1].each do |b|
      = haml :'_stats_table', :locals => { :stats => b}

%h3 Outstanding alerts:

- if @unacked.length > 0
  %h4 The following alerts have not been acknowledged:
  = haml :'_incident_table', :locals => { :incidents => @unacked, :no_ack => true, :no_resolve => true }

- if @acked.length > 0
  %h4 The following alerts have been acknowledged, but not resolved:
  = haml :'_incident_table', :locals => { :incidents => @acked, :no_resolve => true }


- if @unacked.length == 0 && @acked.length == 0
  No outstanding alerts. Everything is hunky-dory.