%div{:class => "today"}

  %h2 Total data (last 24 hours)
  = haml :'_stats_table', :locals => { :stats => @stat_summary[0] }


- if @stat_summary.length > 1
  %div{:class => "shifts"}
    %h2 Breakdown by shift
   
    - @stat_summary[1..-1].each do |b|
      = haml :'_stats_table', :locals => { :stats => b}

%h3 Outstanding alerts:

- if @unacked.length > 0
  %h4 The following alerts currently have not been acknowledged:
  = haml :'_incident_table', :locals => { :incidents => @unacked }

- if @unresolved.length > 0
  %h4 The following alerts have been acknowledged, but not resolved:
  = haml :'_incident_table', :locals => { :incidents => @unresolved }


- if @unacked.length == 0 && @unresolved.length == 0
  No outstanding alerts. Everything is hunky-dory.
