nav.datenav {
  padding-top: 12px;
}

nav.datenav span.navbar-brand {
  font-size: 180%;
  color: black;
  font-weight: bold;
}

nav.datenav #daterange {
  margin-bottom: 7px;
  margin-right: 7px;
}

h3#handled-incidents {
  margin-bottom: 32px;
}

form#incidents th#time {
  width: 200px;
}

form#incidents th#category {
  width: 180px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }

  .navbar-form .navform_search {
    width: 175px
  }
  .navbar-form .navform_date {
    width: 100px
  }
}

.home_link, .home_link:link, .home_list:visited, .home_link:hover, .home_link:active {
  color: #666;
  text-decoration: none;
}


/* Index page - Statistics Table */
.today h2, .shifts h2 {
  margin-left: 20px
}

.shifts {
  display:inline-block;
}

.stats_table {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.stats_table .title {
  font-weight: bold;
  display: inline-block;
}

.stats_table .incidents {
  display: block;
}

.stats_table td {
  text-align: left;
}

.stats_table .row_header {
  font-weight: bold
}

.stats_table .col_header {
  align: center;
  font-weight: bold;
}

.stats_table table td {
  padding: 5px;
}
.version, .version:link, .home_list:visited, .version:hover, .version:active {
  color: #666;
  font: 10pt 'Arial' normal;
  text-decoration: none;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  color: #fff;
  border-radius: 2px;
  width: 200px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 20%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#chart svg {
  height: 400px;
}
