nav.datenav {
  padding-top: 12px;
}

nav.datenav span.navbar-brand {
  font-size: 180%;
  color: black;
  font-weight: bold;
}

nav.datenav #daterange {
  margin-bottom: 7px;
  margin-right: 7px;
}

h3#handled-incidents {
  margin-bottom: 32px;
}

form#incidents th {
  cursor: pointer;
}

form#incidents th.time {
  width: 200px;
}

form#incidents th.category {
  width: 180px;
}

div#breakdownchart {
  width: 100%;
  height: 400px;
}

@media (min-width: 1200px) {
  .container {
    width: 1370px;
  }
}
