nav.datenav {
  padding-top: 12px;
}

nav.datenav span.navbar-brand {
  font-size: 180%;
  color: black;
  font-weight: bold;
}

nav.datenav #daterange {
  margin-bottom: 7px;
  margin-right: 7px;
}

h3#handled-incidents {
  margin-bottom: 32px;
}

form#incidents th#time {
  width: 200px;
}

form#incidents th#category {
  width: 180px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }

  .navbar-form .navform_search {
    width: 175px
  }
  .navbar-form .navform_date {
    width: 100px
  }
}

.home_link, .home_link:link, .home_list:visited, .home_link:hover, .home_link:active {
  color: #666;
  text-decoration: none;
}
